<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../scripts/toastify.js"></script>
    <script src="../scripts/showToastMessage.js"></script>
    <link rel="stylesheet" href="../styles/toastify/toastify.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/login/login.css" />
    <title>Reset-Password</title>
  </head>
  <body>
    <div class="login-page">
      <div class="login-page__image-container">
        <img class="login-page__image" src="../assets/formImg.png" alt="login" />
        <div class="login-page__tagline">
          <h2 class="login-page__tagline-subtitle">The all in one movies platform</h2>
          <h1 class="login-page__tagline-title">MOX MOVIES</h1>
        </div>
      </div>
      <div class="login-page__form-container">
        <div class="login-page__form" id="login-page__form">
          <h2 class="login-page__form-title">Nice to see you!</h2>
          <p class="login-page__form-description">*enter the email associated with your account, and we will send an email with instructions to reset your password</p>
          <form class="login-form" id="login-form">
            <label for="email" class="login-form__label">Email</label>
            <div class="login-form__input-wrapper">
              <input type="email" id="email" required placeholder="Your email address" class="login-form__input" />
            </div>
            <button type="submit" class="login-form__submit-button" value="Send" onclick="send()">RESET</button>
            <p class="login-form__signup-text">
              Don’t have an account? <a onclick="window.location.replace('http://localhost/MoX-Project/src/view/register.html')" class="login-form__signup-link">Sign up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
    <script src="../scripts/reset-password.js"></script>
  </body>
</html>
