<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../scripts/toastify.js"></script>
    <script src="../scripts/showToastMessage.js"></script>
    <link rel="stylesheet" href="../styles/toastify/toastify.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/login/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-page">
      <div class="login-page__image-container">
        <img class="login-page__image" src="../assets/formImg.png" alt="login" />
        <div class="login-page__tagline">
          <h2 class="login-page__tagline-subtitle">The all in one movies platform</h2>
          <h1 class="login-page__tagline-title">MOX MOVIES</h1>
        </div>
      </div>
      <div class="login-page__form-container">
        <div class="login-page__form" id="login-page__form">
          <h2 class="login-page__form-title">404: Not found</h2>
          <p class="login-page__form-description">This page is restricted. In order to access it you need to be logged in.</p>
          <button type="submit" class="login-form__submit-button" onclick="window.location.replace('http://localhost/MoX-Project/src/view/login.html')">Continue to login</button>
        </div>
      </div>
    </div>
  </body>
</html>
