@use "../theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.start-page {
  background: theme.color("main-background-color");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.start-page__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

  @media (max-width: 750px) {
    height: 200px;
  }
  @media (max-width: 500px) {
    height: 210px;
  }
}

.start-page__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;

  @media (max-width: 750px) {
    height: 200px;
    object-fit: cover;
  }
  @media (max-width: 500px) {
    height: 210px;
    object-fit: cover;
  }
}

.start-page__tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  width: 388px;
  height: 72px;
  flex-shrink: 0;

  @media (max-width: 500px) {
    max-width: 360px;
  }
}

.start-page__tagline-subtitle {
  color: theme.color("whitePure");
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 3.6px;
}

.start-page__tagline-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 6.48px;
  background: theme.color("logo");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-page__action-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-page__action {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page__action-title {
  color: theme.color("whitePure");
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.start-page__action-button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background: theme.color("blueLight");
  color: theme.color("whitePure");
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.start-page__action-button:hover,
.start-page__action-button:focus {
  background-color: #0056b3;
}

.start-page__action-divider {
  color: theme.color("whitePure");
  margin-bottom: 1rem;
}
